ul {
    padding: 0;
    margin: 0;
}
img {
    padding: 20px;
    margin-left: 130px;
    transition: 1s;
    width: 300px;
    height: 200px;
}
.animation {
    max-width: 600px;
    margin: 0 auto;
    background: rgb(245, 230, 202);
}
.text {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    animation: animation-text 5s infinite;
}
.menu li{
	display: inline-block;
    margin: 35px;
    padding: 10px;
	border: 1px solid blue;
}
@keyframes animation-text
{
    from { 
        background-color:  yellow; 
        color: blue;
    }
    to { 
        background-color: blue; 
        color: yellow; 
    }
}
@keyframes animation-home {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}
@keyframes animation-about {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg); 
    }
} 
@keyframes animation-news {
    0% {
        transform: translateX(0) rotateY(0) scale(1);
        transform-origin: 0% 50%;
    }
  50% {
        transform: translateX(-50%) rotateY(90deg) scale(2);
        transform-origin: 50% 50%;
  }
  100% {
        transform: translateX(-100%) rotateY(180deg) scale(1);
        transform-origin: 100% 50%;
  }
}
@keyframes animation-contact {
    0% {
        transform: rotateX(0);
    }
  100% {
        transform: rotateX(-180deg);
    }
}
img:hover {
    transform: scale(1.2);
}
.home:hover {
    background-color: yellow;
    animation: animation-home 2s infinite;
}
.about:hover {
    background-color: yellow;
    animation: animation-about 2s infinite;
}
.news:hover {
    background-color: yellow;
    animation: animation-news 2s infinite;
}
.contact:hover {
    background-color: yellow;
    animation: animation-contact 2s infinite;
}
.text:hover ~ .home {
    background-color: yellow;
    animation: animation-home 2s infinite;
}
.text:hover ~ .about {
    background-color: rgb(166, 255, 0);
    animation: animation-about 2s infinite;
}
.text:hover ~ .news {
    background-color: rgb(0, 119, 255);
    animation: animation-news 2s infinite;
}
.text:hover ~ .contact {
    background-color: rgb(255, 0, 221);
    animation: animation-contact 2s infinite;
} 
.home:hover ~ li {
    transform: scale(1.2);
    transition: 2s;
}
.text:hover ~ img {
    transform: scale(1.2);
}